{% extends "base.html" %}
{% block title %}Reading text analysis{% endblock %}
{% block content %}
<h4>Analyze reading text </h4>
<form class="form" action="{{ url_for('textanalysis') }}" method="POST" role="form">
  {{ form.csrf_token() }}
  <div class="control-group">
    <label>{{ form.textinput.label }}</label>
    <div class="controls">
      {{ form.textinput(class="form-control", rows="12") }}<br>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="button">Submit</button>
    </div>
  </div>
</form>
{% endblock %}
